@page "/create"
@using System.Net.Http.Json
@using AutoOA.Repository
@using AutoOA.Repository.Dto.VehicleDto
@inject HttpClient Http
@inject NavigationManager Navigation
<h3>Create</h3>

<EditForm Model="vehicle" OnValidSubmit="CreateVehicle">
 <DataAnnotationsValidator />

 <div>
			<div class="row">
				<div class="col-12">
					<ValidationMessage For="() => vehicle.VehicleBrandName" />
					<label for="Name">VehicleBrandName</label>
				</div>
				<div class="col-12">
					<InputNumber id="Name" @bind-Value="vehicle.VehicleBrandName" />
				</div>
			</div>

			<div class="col-12">
				<button type="submit" class="btn btn-success">Створити</button>
			</div>
	</div>
 </EditForm>

@code {
	VehicleCreateDto vehicle = new VehicleCreateDto();
		
	public async Task CreateVehicle(){
		var result = await Http.PostAsJsonAsync("/vehicle", vehicle);
		if (result.IsSuccessStatusCode)
		{
			VehicleCreateDto createdVehicle = await result.Content.ReadFromJsonAsync<VehicleCreateDto>();
			Navigation.NavigateTo($"edit/{createdVehicle.VehicleModelName}");
		}


	}
}

