@page "/vehicle/index"
@using AutoOABlazor.Client.Shared.Components
@using Syncfusion.Blazor.Notifications

@inject VehicleService VehicleService
@*inject TimetableRepository TimetableRepos*@
@inject NavigationManager Navigation
<h4>Предмети</h4>
    <div class="">
        <a class="btn btn-success" href="/create">Додати дані</a>
    </div>
<hr />
@if(Vehicles is not null && Vehicles.Any())
{
    <div class="row">
        @foreach (var t in Vehicles)
        {
            <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-6 col-sm-12">
            </div>
        }
    </div>
}
    
else if(Vehicles is not null)
{
    <SfMessage Severity="MessageSeverity.Warning">Інформація про запити відсутня...</SfMessage>

} else
{
    <SpinnerComponent></SpinnerComponent>
}

@code {

    
    //public TimetableReadDto? TimetableRead { get; set; }
    private IEnumerable<VehicleReadDto> Vehicles = null;

    protected override async Task OnInitializedAsync()
    {
        Vehicles = await VehicleService.GetVehiclesAsync();
    }

    void GoToNewRequestPage()
    {
        Navigation.NavigateTo("/vehicles/new");
    }

    void GoToDetailsPage()
    {
        //Navigation.NavigateTo($"/Vehicles/{TimetableRead.TimetableId}");
    }

    void GoToEditPage()
    {
       // Navigation.NavigateTo($"/Vehicles/edit/{TimetableRead.TimetableId}");
    }
}